.demo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10vw;
    height: 30vh;
    /* border: 2px solid red; */
    align-items: center;
}
label{
    font-size: 2vw;
    font-weight: bolder;
}
.btn{
    width: 10%;
}
