.demo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid green; */
    height: 1000px;
}
.info{
    display:flex;
    justify-content: space-between;
    width: 80vw;
}
.info>div{
    padding: 40px;
    border-radius: 20px;
    box-shadow: 5px 3px 3px rgb(103, 100, 100);
    background-color: rgb(210, 239, 210);
}
.git{
    display: flex;
    /* border: 2px solid black; */
    border-radius: 20px;
    background-color: rgb(244, 245, 247);
    flex-direction: column;
    height: 60vh;
    justify-content: space-around;
    padding: 30px;
    box-shadow: 5px 3px 3px rgb(103, 100, 100);
    
    /* align-items: center; */
}
.btn{
    width: 200px;
    margin:2px;
}
@media only screen and (max-width: 400px) {
    .info{
        flex-direction: column;
        width: 100%;
    }
    .git{
        width: 100vw;
    }
    .info>div{
        margin:10px
    }
    .btn{
        width: 200px;
        margin:2px;
    }

}